
        
        <h1>FiveStarWeb</h1>
        <h3>Welcome to FiveStarWeb</br></h3>

        <p>Customer Information</p>
            <p>{{a}}</p>
            <p>{{b}}</p>
        
            
            <center><button class=Enter onclick="customerInfo()">Enter</button></center>


        <form action="/test/enter" method = "post">
        <!--<form action="https://manage.documents.azure.com:443/", method = "post">
        <form method = "post" action="https://customer-httpposttrigger.azurewebsites.net/api/CustomerInfoTrigger?">-->
            <title>Customer Information</title>
            <p>Type your name and ID in the boxes provided below</p>

            <center>Customer Name:<br> <input type="text" name="name"></center>
            <br>
            <center>Customer ID:<br> <input type="text" name="id"></center>
            <br>

            <center><input value="Enter" type="submit"></center>
        </form>
        
        <title>Customer Product Information</title>
        <table>
            <td></td><br>
            
        </table>

    

        <form>
            <center><button class="button Submit">Submit</button></center>
            <center><button class="button Update">Update</button></center>
            <center><button class="button Delete">Delete</button></center>
        </form> 
 


