<!DOCTYPE html>
<html lang="en">
<head>
    <header><img src="img/FiveStarWebLogo.png" alt="Logo"></header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
                margin: 0;
                padding: 5px, 10px;
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Montserrat';
                font-weight: bold;
                text-align: center;
                background: #242582;
                color: white;
            }
            
            p {
                font-family: 'Ubuntu';
                font-weight: bold;
                text-align: center;
                background: #553D67;
                color: white;
            }
            table{
                font-family: 'Ubuntu';
                width: 100%;

            }
            td,th{
                border: 1px solid #99738E;
                text-align: center;
                padding: 8px;
            }
            #logo{
                vertical-align: left;
            }
            .button{
                border: none;
                color: white;
                text-align: center;
                font-size: 16px;
                display:inline-block;
            }
            .Submit{background-color: #242582;}
            .Update{background-color: #242582;}
            .Delete{background-color: #242582;}
            .Enter{background-color: #242582; color: white; font-size: 16px;}
    </style>
</head>
    <body>
        {{{body}}}
    </body>
</html>